.content {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #D6DCDB;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.authcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
    border-radius: 20px;
}

.vhodorreg {

    display: flex;
    gap: 40px;
    margin-top: 100px;
}

.vhodorreg>button {
    width: 230px;
    height: 50px;
    font-size: 25px;

}

.clickedbutton {
    width: 280px;
    height: 50px;
    border: solid #243F5D 2px;
    border-radius: 10px;
    font-size: 25px;
    color: #243F5D;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 300px;
    transition: .2s;
    color: black;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.vhodBlock {
    width: 400px;
    height: 400px;
    gap: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vhodbutton {
    font-size: 30px;
    width: 100%;
    border: #243F5D solid 2px;
    transition: .2s;
    border-radius: 15px;
    color: #243F5D;
}

.confirm {
    font-size: 30px;
    width: 100%;
    border: #243F5D solid 2px;
    background-color: #243F5D;
    border-radius: 10px;
    transition: .2s;
    color: white;
}

.navButtons {
    color: #243F5D;
}