@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}


.container {
    width: 100%;
    background-color: #8B969F;
    height: auto;
}

.catalog{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.left{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    align-items: center;
    gap: 30px   ;
}

.upl{
    width: 500px;
    height: 140px;
    background-color: white;
    border: solid black 2px;
    border-radius: 120px;
}

.upl >button>h1 {
    font-size: 28px;
    padding-left: 50px;
    padding-top: 20px;
}

.upl>button> p{
    font-size: 18px;
    padding-top: 20px;
    padding-left: 150px;
}


.downl {
    width: 500px;
        height:600px;
    background-color: white;
    border: solid black 2px;
    border-radius: 120px;
}

.right {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.upr {
    border-radius: 120px;
    width: 900px;
    height: 140px;
    background-color: white;
    border: solid black 2px;
}

.downr {
        border-radius: 120px;
    width: 1000px;
    height: 600px;
    background-color: white;
    border: solid black 2px;
}
