.catalog{
    display: flex;
    flex-direction: column;
    width: 1800px;
    height: 900px;
    margin: 0 auto;
    gap: 50px;

}

.container{
    display: flex;
    flex-direction: column;
    width: 2000px;
    height: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.search{
    margin-left: 9%;
}

.search > p{
    margin-left: 30px;
}

.search > input{
    height: 2vh;
    width: 25vw;
    

}            

.coursesExample{
    display: flex;
    flex-direction: column;
    width: 1700px;
    height: 800px;

}

.coursesANDtags {
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 700px;
    margin: 0 auto;
    justify-content: center;
    gap: 30px;
}

.coursesExample > h2{
    margin-top: 0;
    margin-left: 10%;
}

.tags{
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 50px;
    margin: 0 auto;
    gap: 30px;
    border: solid black 3px;
    justify-content: center;
}

.courses{
    border: solid black 3px;
    display: flex;
    flex-direction: row;
    width: 1700px;
    height: 500px;
    margin: 0 auto;
    align-items: center;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.tagButtons{
    font-size: calc(0.3em + 1vw);
}

.ourCourses{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1400px;
    margin: 0 auto;
}

.ourCoursesBlock{
    width: 700px;
    height: 400px;
    border: solid black 3px;
}

.ogEg{
    width: 700px;
    height: 400px;
    border: solid black 3px;
}

@media only screen and (max-width: 1920px){
    .tags{
        width: 1200px;
        height: 50px;
        margin: 0 auto;
        gap: 10px;
    }

    .courses {
        border: solid black 3px;
        display: flex;
        flex-direction: row;
        width: 1700px;
        height: 500px;
        margin: 0 auto;
        align-items: center;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }
}