@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}


.container {
    display: flex;
    flex-direction: column;
}

.centerpos {
    display: flex;
    justify-content: center;
}

.zagolovok>h1 {
    font-family: 'Montserrat-Medium';
    color: #6F31C1;
    font-size: 50px;
    margin-top: 100px;
}

.buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttons>button {
    font-size: 20px;
}

.underlinedecor {
    text-decoration: underline #9559d4 4px;
    text-underline-offset: 5px;
}


.courses {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.linia {
    width: 1150px;
    margin-top: 3px;
    margin-left: 0px;
}

.ourcourses {
    margin-top: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.our {

    font-size: 36px;
    font-family: 'Montserrat-Medium';
    color: #FF8C37;
    width: 550px;
    height: 220px;
    background-image: url(../Images/blockback.svg);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.schoolSub {
    font-size: 36px;
    font-family: 'Montserrat-Medium';
    color: #FF8C37;
    width: 550px;
    height: 220px;
    background-image: url(../Images/blockback.svg);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 100px;
}

@media only screen and (max-width: 1920px) {
    .buttons {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .buttons>button {
        font-size: 18px;
    }

    .linia {
        width: 970px;
        margin-top: 2px;
        margin-left: 0;
    }

    .ourcourses {
        margin-top: 130px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }

    .our {

        font-size: 30px;
        font-family: 'Montserrat-Medium';
        color: #FF8C37;
        width: 400px;
        height: 180px;
        background-image: url(../Images/blockback.svg);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .schoolSub {
        font-size: 30px;
        font-family: 'Montserrat-Medium';
        color: #FF8C37;
        width: 400px;
        height: 180px;
        background-image: url(../Images/blockback.svg);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}