@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #D6DCDB;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.ava {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 2px #243F5D solid;
}

.title {
    height: 330px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}


.imgfield {
    border-radius: 20px;
    width: 230px;
    height: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.courseInfo {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: auto;
    border-radius: 30px;
    gap: 30px;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    width: 700px;
    align-self: flex-start;
    margin-left: 100px;
}

.button {
    border: 2px #243F5D solid;
    width: 210px;
    height: 40px;
    font-size: 24px;
    border-radius: 6px;
    font-family: 'Montserrat-Medium';
}

.button:hover {
    background-color: #243F5D;
    color: white;

}

.langicons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto;
    gap: 10px;
}

.titleInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 76px;
}

.titleInfo>div {
    width: auto;
    border-bottom: 2px #243F5D solid;

}



.titleInfo>div>p {
    font-size: 24px;
}

.descriptionList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.descriptionListItems {
    font-size: 26px;
    color: #243F5D;
}

.moduleList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.module {
    color: #243F5D;
    font-size: 30px;
}

.lessonsList {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lesson {
    color: #243F5D;
    font-size: 24px;
}