@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #8B969F;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ava {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    /* filter: blur(10px); */
}

.title {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px;
    border: solid black 2px;
}

.title>div {
    border: solid black 2px
}

.imgfield {
    width: 200px;
    height: 200px;
}

.courseInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: auto;
    border-radius: 45px;
    background: linear-gradient(225deg, #7d878f, #95a1aa);
    box-shadow: -14px 14px 28px #60686e,
        14px -14px 28px #b6c5d0;
    padding-top: 20px;
}

.body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    border: solid black 2px;
}

.button {
    border: solid black 2px;
    width: auto;
    font-size: 24px;
    font-family: 'Montserrat-Medium';

}

.langicons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto;
}

.titleInfo {
    display: flex;
    flex-direction: column;

}