@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);

}

.Mycourse {
    border: 2px #243F5D solid;
    width: 800px;
    height: 200px;
    border-radius: 15px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.info {
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-grow: 2;
}

.courseblock {
    display: flex;
    flex-direction: row;

}

.buttons {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}

.buttons>button {
    font-family: 'Montserrat-Medium';
    font-size: 22px;
    border: 2px #243F5D solid;
    width: 210px;
    height: 70px;
    border-radius: 10px;
    color: white;
}

.buttons>button:hover {
    background-color: #243F5D;
    transition: .2s;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container>p {
    color: #243F5D;
    font-size: 36px;
}

.container>div {
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: #243F5D;
    font-size: 28px;
}

.opisanie {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.zagolovok {
    text-align: center;
    text-align: center;
    color: white;
    font-size: 30px;
}

.status {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}