.content {
    min-height: 72vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #C3BAAF;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.netmodulei {
    margin-top: 200px;
    text-align: center;
}

.netmodulei>h1 {
    color: #243F5D;
    font-size: 40px;
}

.netmodulei>p {
    color: white;
    font-size: 20px;
}

.module {
    border: solid black 2px;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px #243F5D solid;
    gap: 30px;
    border-radius: 15px;
}

.nameModule {
    font-size: 30px;
}

.aboutModule {
    display: flex;
    flex-direction: column;
}

.addModule {
    font-size: 30px;
    border: 2px #243F5D solid;
    border-radius: 10PX;
    padding: 10PX;
}

.numberModule {
    font-size: 80px;
    color: #243F5D;
    margin-left: 70px;
}

.newLesson {
    border: solid black 2px;
    width: 250px;
    display: flex;
    flex-direction: column;

}

.contentOfLesson {
    gap: 30px;
    padding-top: 30px;
    width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.deleteButton {
    border: 2px #243F5D solid;
    font-size: 26px;
    padding: 20px;
    border-radius: 10PX;
    margin-bottom: 30px;
}

.navigateHistory {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigateHistory>button {
    font-size: 21px;
    color: white;
}