@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);

}

.Mycourse {
    border: 2px #C1A875 solid;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 30px;

}

.info {
    margin-top: 40px;
    width: 280px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.courseblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.buttons {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons>button {
    font-family: 'Montserrat-Medium';
    font-size: 22px;
    border: 2px #C1A875 solid;
    width: 210px;
    height: 70px;
    border-radius: 10px;
    color: white;
}

.buttons>button:hover {
    background-color: #C1A875;
    transition: .2s;
}

.container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.name {
    color: #C1A875;
    font-size: 28px;
}

.opisanie {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.zagolovok {
    text-align: center;
    text-align: center;
    color: white;
    font-size: 30px;
}

.status {
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}