@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #3D3F4C;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ava {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px #C1A875 solid;
}

.title {
    height: 330px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}


.imgfield {
    border-radius: 20px;
    width: 230px;
    height: 276px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.courseInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    height: auto;
    border-radius: 45px;
    background-color: #3D3F4C;
    border: 2px #C1A875 solid;
    gap: 30px;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    width: 700px;
}

.button {
    border: 2px #C1A875 solid;
    width: 210px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
    font-family: 'Montserrat-Medium';

}

.langicons {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: auto;
    gap: 10px;
}

.titleInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 76px;
}

.titleInfo>div {
    width: auto;
    border-bottom: 2px #C1A875 solid;

}