.coursescont {

    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.coursesblock {
    width: 460px;
    height: 220px;
    border-radius: 20px;
    background-image: url(../Images/coursesback.svg);

}

.courselogo {
    margin-top: 20px;
    margin-left: 20px;
}

.coursename {
    margin-left: 190px;
    margin-top: -120px;

}

.coursename>button {
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    text-align: left;
}

.courseauthor {
    margin-top: 10px;
    margin-left: 190px;
    font-size: 12px;
}

.coursecost {
    color: #FF8C37;
    font-family: 'Montserrat-Bold';
    font-size: 24px;
    margin-left: 190px;
    margin-top: 10px;
}

.activecourses {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 1500px;

}

.non {
    display: none;
}