@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

.freeCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.freeCourses>p {
    margin-top: 45%;
}

.dopTypes {
    display: flex;
    flex-direction: column;
    scale: 1;
    overflow-y: scroll;
    border: solid black 2px;
    height: 300px;
    background-color: #6F31C1;
    align-items: center;
}

.dopTypes>button {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.payCourses>p {
    margin-top: 45%;
}

.payCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1000px;
    height: 100%;
    gap: 100px;
    background-color: #3D3F4C;
    justify-content: center;

}

.leftBlock {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 350px;
    height: 200px;
    align-items: center;
    gap: 10px;

}

.choosedTypes {
    display: flex;
    flex-direction: row;
}

.rightBlock {
    display: flex;
    border: solid black 2px;
    width: auto;
    height: auto;
    flex-direction: column;
    gap: 20px;
}

.saveButton {
    width: 300px;
    height: 300px;
    border: solid black 2px;
    font-size: 24px;
}

.courseContent {
    width: 500px;
    height: 300px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

.rightBlock>div {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 40px;
    background-color: #3D3F4C;
}

.zagolovok {
    width: 1000px;
    text-align: center;
}

.opisanie {
    width: 1000px;
    text-align: center;
}

.zagolovok>p {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
    color: #C1A875;
    align-items: center;
}

.content {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.opisanie>p {
    font-size: 26px;
    color: black;
    align-items: center;
}

.createbutton {
    width: 320px;
    height: 83px;
    border-radius: 41px;
    border: #C1A875 solid 1px;
    font-size: 26px;
    color: #C1A875;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 300px;
    transition: .2s;
    color: white;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #C1A875;
}

.isfree>label {
    font-size: 20px;
}

.contentInput {
    min-width: 900px;
    min-height: 300px;
    max-width: 900px;
    max-height: 300px;
    border: none;
    border: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.contentInput:active,
.contentInput:focus,
.contentInput:hover {
    outline: none;
    border-color: #C1A875;
}

.firstblock {
    border: solid black 2px;
    display: flex;
    flex-direction: row;
}