@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

.freeCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.freeCourses>p {
    margin-top: 45%;
}

.dopTypes {
    display: flex;
    flex-direction: column;
    scale: 1;
    overflow-y: scroll;
    border: solid black 2px;
    height: 300px;
    background-color: #6F31C1;
    align-items: center;
}

.dopTypes>button {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.payCourses>p {
    margin-top: 45%;
}

.payCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 100px;
    background-color: #8B969F;
    justify-content: center;

}

.leftBlock {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 350px;
    height: 200px;
    align-items: center;
    gap: 10px;

}

.choosedTypes {
    display: flex;
    flex-direction: row;
}

.rightBlock {
    display: flex;
    border: solid black 2px;
    width: 600px;
    height: auto;
    flex-direction: column;
    gap: 20px;
}

.saveButton {
    width: 300px;
    height: 300px;
    border: solid black 2px;
    font-size: 24px;
}

.courseContent {
    width: 500px;
    height: 300px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

.rightBlock>div {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 40px;
    background-color: #3D3F4C;
}

.zagolovok {
    width: 1000px;
    text-align: center;
}

.opisanie {
    width: 1000px;
    text-align: center;
}

.zagolovok>p {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
    color: #6F31C1;
    align-items: center;
}

.content {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.opisanie>p {
    font-size: 26px;
    color: black;
    align-items: center;
}

.createbutton {
    font-family: 'Montserrat-Bold';
    box-shadow: 0px 25px 9px #170538;
    width: 320px;
    height: 83px;
    border-radius: 41px;
    background: #FF8C37;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}