@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

.freeCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.freeCourses>p {
    margin-top: 45%;
}

.payCourses>p {
    margin-top: 45%;
}

.payCourses {
    border: solid black 2px;
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    border: solid black 1px;
    justify-content: center;

}

.leftBlock {
    display: flex;
    flex-direction: column;
    border: solid black 2px;
    width: 350px;
    height: 200px;
    align-items: center;
    gap: 10px;

}

.rightBlock {
    display: flex;
    border: solid black 2px;
    width: 600px;
    height: 300px;
    flex-direction: column;
    gap: 20px;
}

.saveButton {
    border: solid black 2px;
    margin-left: 50%;
    font-size: 24px;
}

.courseContent {
    width: 500px;
    height: 300px;
    border: solid black 2px;
    display: flex;
    flex-direction: column;
}

.rightBlock>div {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 100px;
    gap: 40px;
}

.zagolovok>p {
    font-family: 'Montserrat-Medium';
    font-size: 36px;
    color: #6F31C1;
}



.opisanie>p {
    font-size: 20px;
    color: black;
    width: 750px;
}

.createbutton {
    font-family: 'Montserrat-Bold';
    box-shadow: 0px 25px 9px #170538;
    width: 320px;
    height: 83px;
    border-radius: 41px;
    background: #FF8C37;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}