.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #C3BAAF;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courseBlock {
    align-items: center;
    margin-top: 100px;
    width: 1200px;
    height: auto;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maintype {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 30px;
}

.maintypes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.selected {
    border-bottom: 2px #204436 solid;
    padding: 5px;
}

.maintypes>button {
    color: #243F5D;
    font-size: 20px;
    font-weight: bold;
}

.help {
    color: #243F5D;
}

.title {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.inpitFiles {
    position: relative;
    display: inline-block;
}

.imgfield {
    border-radius: 20px;
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.inputButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 10px;
    background-color: #243F5D;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    text-align: center;
}



.contentInput {
    border: none;
    border: 2px solid white;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    min-width: 90%;
    max-width: 90%;
    min-height: 150px;
    max-height: 150px;
    transition: .2s;
    color: white;
    border-radius: 15px;
    font-size: 20px;
}

.contentInput:active,
.contentInput:focus,
.contentInput:hover {
    outline: none;
    border-color: #243F5D;
}

.inputFiles input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.logininput {
    border: none;
    border-bottom: 2px solid white;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 90%;
    transition: .2s;
    color: white;
    font-size: 20px;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.choosedTypes {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tagslabel {
    font-size: 20px;
    color: #243F5D;
}

.searchtag {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.doptags {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchtag>label {
    color: #243F5D;
    font-size: 20px;
}

.dopTypes {
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

}

.dopTypes>button {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.showDopTypes {
    font-size: 20px;
}

.deleteButton {
    position: absolute;
    background-color: #8B969F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 15px;
    height: 15px;
}



.body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    height: auto;
}

.tegblock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #343637;
    box-shadow: inset 5px 5px 10px #2c2e2f,
        inset -5px -5px 10px #3c3e3f;
}

.ava {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px #243F5D solid;
}

.titleName {
    width: 70%;
    height: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.titleName>div {
    display: flex;
    flex-direction: column;
}

.saveButtonBlock>button {
    margin-bottom: 80px;
    font-size: 30px;
}

.footer {
    width: 100%;
}

.titleName label {
    margin-left: 20px;
    color: black;
}

.removeButton {
    width: auto;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px #204436 solid;
}

.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popt {
    width: 1100px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.popt>label {
    color: #243F5D;
}