.content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    z-index: 0;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #D6DCDB;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.netmodulei {
    text-align: center;
}

.netmodulei>h1 {
    color: #243F5D;
    font-size: 40px;
}

.netmodulei>p {
    color: white;
    font-size: 20px;
}

.lessoncontainer {
    margin-left: 100px;
    margin-top: -242px;
    width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.chaptersBar {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.chapterZagolovok {
    color: white;
    font-size: 28px;
    margin-bottom: 20px;
}

.inputFiles input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.showElements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapterBox {
    width: 50px;
    height: 50px;
    border: solid 1px #243F5D;
    border-radius: 5px;
}

.selectedChapterBox {
    width: 50px;
    height: 50pxpx;
    border-radius: 5px;
    background-color: #243F5D;
}

.addChapter {
    width: 30px;
    height: 30px;
}

.lessonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.lessonName {
    color: #C1A875;
    font-size: 40px;
}

.addcChapterBox {
    width: 50px;
    height: 50px;
    border: #243F5D solid 2px;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin-left: 100px;
    margin-top: 50px;
    width: 600px;
    height: auto;
    min-height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    align-self: flex-start;
}

.lessonname>input {
    font-size: 20px;
}

.title>div {
    width: auto;
    font-size: 36px;
    color: #243F5D;
}

.moduleName {
    color: white;
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: black;
    font-size: 24px;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.chapterContainer {
    width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.popt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chapterName {
    width: 400px;
}

.listElements {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listElements>button {
    font-size: 30px;
    color: #243F5D;
}

.elementsBar {
    width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    padding: 20px;
    z-index: 1;
    /* background: linear-gradient(to right bottom, rgba(195, 186, 175, 1), rgba(195, 186, 175, 1)); */
    background: rgba(195, 186, 175, 0.8);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.text>div {
    width: 200px;
}

.testelements>div {
    width: 200px;
}

.testelements>button>div>button>p {
    font-size: 18px;
}

.hideElements {
    font-size: 30px;
    color: #243F5D;
}

.textIcon {
    width: 50px;
    height: 50px;
}

.elements>div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}



.elements {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.elements>div>button>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 120px;
    justify-content: center;
}

.elements>div>button:hover {
    background: linear-gradient(135deg, #C3BAAF, rgba(255, 255, 255, 0.01));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.elements>div>button>div>button {
    font-size: 30px;
}

.chapterContent {
    width: 90%;
    min-height: 300px;
    height: auto;
}

.testAnswers {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.testContent {
    width: 950px;
    display: flex;
    gap: 20px;
}

.testPoints {
    display: flex;

}

.multiAns {
    border: solid black 2px;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.inputButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 26px;
    color: #243F5D;
    border-bottom: #243F5D 1px solid;
}

.ava {
    max-width: 800px;
    max-height: 800px;
    width: auto;
    height: auto;
    object-fit: contain;
}

.inputFiles input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.imgfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.textEditor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.testInput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 500px;
    transition: .2s;
    color: white;
    font-size: 20px;
}

.testInput:active,
.testInput:focus,
.testInput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.removeButton {
    font-size: 26px;
    color: #243F5D;
    border-bottom: #243F5D 1px solid;
}