@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: 'Comfortaa-Light';
    src: url(../fonts/Comfortaa-Light.ttf);
}

@font-face {
    font-family: 'Comfortaa-Medium';
    src: url(../fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'Comfortaa-SemiBold';
    src: url(../fonts/Comfortaa-SemiBold.ttf);
}

* {
    font-family: 'Comfortaa-Regular';
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.quill>* {
    border-color: inherit !important;
    color: inherit !important;
}

.quill>.ql-toolbar {
    /* border radius of the toolbar */
    border-radius: 10px 10px 0 0;
}

.ql-toolbar .ql-snow .ql-fill {
    background-color: #243F5D;
    /* Цвет заливки иконок на панели инструментов */
}

.quill>.ql-container {
    /* border radius of the container and for font size*/
    font-size: inherit;
    border-radius: 0 0 10px 10px;
}

.ql-toolbar.ql-snow .ql-picker-label {
    color: inherit !important;
    opacity: 0.76;
}

.ql-snow .ql-picker {
    color: inherit !important;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    /* for placeholder */
    color: inherit;
}

.ql-snow.ql-toolbar button svg {
    opacity: 0.76;
    color: #243F5D;
}

.ql-snow.ql-toolbar button svg:hover {
    opacity: 0.76;
    color: white;
}

.ql-snow .ql-stroke {
    /* for the border of the editor */
    stroke: currentColor !important;
}

.ql-snow .ql-fill {
    /* for the bg color */
    fill: currentColor !important;
}

.ql-picker-item {
    /* for dropdown */
    color: #444 !important;
}

.ql-editor {
    width: 800px;
    min-height: 300px;
    color: black;
    font-size: 20px;
    line-height: 1.5;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}