@font-face {
    font-family: 'Montserrat-Black';
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #C3BAAF;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.content>button {
    width: 1200px;
    height: 300px;
    border: solid black 2px;
}

.content>div {
    width: 1200px;
    height: 300px;
}

.courseBlock {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.courseCatalog {
    padding: 10px;
    flex-grow: 2;
    width: 100px;
}

.courseCatalog>p {
    margin-top: -120px;
    width: 300px;
    font-size: 40px;
}

.courseCreate:hover,
.courseCatalog:hover,
.chalangerBlock:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.33);
}

.courseCreate {
    padding: 10px;
    flex-grow: 1;
    width: 50px;

}

.courseCreate>p {
    margin-top: -120px;
    width: 300px;
    font-size: 40px;
}

.chalangerBlock {
    width: 1200px;
    height: 300px;
    padding: 20px;
}

.chalangerBlock>p {
    margin-top: -120px;
    width: 300px;
    font-size: 40px;
}