.container {
    min-height: 77vh;
    height: auto;
    width: 100%;
    height: auto;
    background-color: #3D3F4C;
    display: flex;
    justify-content: center;
}

.moduleContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.netmodulei {
    margin-top: 100px;
    text-align: center;
}

.addModule {
    font-size: 30px;
    border-bottom: 2px #C1A875 solid;
    padding: 10PX;
    color: white;
}

.netmodulei>h1 {
    color: #C1A875;
    font-size: 40px;
}

.netmodulei>p {
    color: white;
    font-size: 20px;
}

.navigateHistory {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navigateHistory>button {
    font-size: 21px;
    color: white;
}

.numberModule {
    font-size: 80px;
    color: #C1A875;
    padding-left: 70px;
}

.lessonInfo {
    font-size: 24px;
    color: #C1A875;
}

.title {
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
    width: 600px;
    height: auto;
    min-height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    align-self: flex-start;
}

.contentInput {
    min-width: 550px;
    min-height: 200px;
    max-width: 550px;
    max-height: 200px;
    border: none;
    border: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: white;
    font-size: 20px;
    border-radius: 20px;
}

.contentInput:active,
.contentInput:focus,
.contentInput:hover {
    outline: none;
    border-color: #C1A875;
}

.title>div {
    font-size: 36px;
    color: #C1A875;
}

.moduledescription>p {
    color: white;
    word-wrap: break-word;
    font-size: 20px;
    max-width: 600px;
    width: auto;
    height: auto;
    max-height: 200px;
    padding-left: 40px;

}

.title>button {
    font-size: 24px;
    color: white;
    border: 2px #C1A875 solid;
    border-radius: 20px;
    padding: 10px;
}

.lessons {
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

.lesson {
    width: 600px;
    height: 100px;
    border: 2px #C1A875 solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.redbutton {
    width: 90px;
    background-color: #C1A875;
    height: 100px;
    border-radius: 0 16px 16px 0;
}

.redbutton>button {
    width: 90px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: white;
    font-size: 24px;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #C1A875;
}