.container {
    width: 100%;
    height: auto;
    background-color: #3D3F4C;
    display: flex;
    justify-content: center;
}

.moduleContainer {
    width: 1000px;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    width: 600px;
    height: 200px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px #C1A875 solid;
    border-radius: 20px;
    gap: 30px;
}

.title>div {
    font-size: 30px;
    color: #C1A875;
}

.title>button {
    font-size: 24px;
    color: white;
    border: 2px #C1A875 solid;
    border-radius: 20px;
    padding: 10px;
}

.lessons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lesson {
    gap: 20px;
    display: flex;
    padding: 20px;
    width: 600px;
    height: 200px;
    border: 2px #C1A875 solid;
    border-radius: 20px;
}

.imgLesson {
    width: 200px;
}

.redbutton>button {
    background-color: #CDA454;
    font-family: 'Montserrat-Medium';
    width: 200px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: white;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #C1A875;
}