.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #C3BAAF;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.mainInfo {
    margin-top: 100px;
    width: 700px;
    height: 800px;
    border: solid 2px #C1A875;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.mainInfo>div>button {
    border: solid 2px #C1A875;
    width: 400px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;

}

.mainInfo>div>button:hover {
    border: solid 2px #C1A875;
    width: 400px;
    height: 100px;
    font-size: 30px;
    border-radius: 20px;
    background-color: #C1A875;
    transition: .2s;
}

.exit {
    border-radius: 20px;
}

.exit:hover {
    background-color: #C1A875;
    transition: .2s;
}