@font-face {
    font-family: 'Comfortaa-Medium';
    src: url(../fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(../fonts/Comfortaa-Bold.ttf);
}

.settingContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.zagolovok {
    text-align: center;
    color: #243F5D;
    font-size: 30px;
}

.editEmail {
    width: 50%;
    align-items: center;
}

.editPassword {
    width: 50%;
    align-items: center;
}

.editPassword>div>p {
    color: #243F5D;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.logininput {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: black;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.navmenu {
    margin-top: 100px;
    width: 900px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navmenu>button {
    color: #C1A875;
    font-size: 20px;
    width: 150px;
    height: 40px;

}

.choosed {
    border: 2px #C1A875 solid;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

.courses {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.coursesList {
    gap: 40px;
    justify-content: center;
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profileinfo {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.ava {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.saveButton {
    color: #243F5D;
    font-size: 26px;
    border: #243F5D solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.saveButton:hover {
    background-color: #243F5D;
    color: #3D3F4C;
    transition: .5s;
    color: white;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: center;
    gap: 20px;
}

.avausername {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.otherInfo {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    gap: 20px;
}

.otherInfo>div {
    width: 70%;
}

.otherInfo>div>p {
    color: #243F5D;
    font-size: 20px;
    margin-left: 20px;
}

.inputButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 10px;
    background-color: #243F5D;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    text-align: center;
}

.inputFiles input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.avausername>div>p {
    color: #243F5D;
    font-size: 20px;
    margin-left: 20px;
}

.first {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.first>div>p {
    margin-left: 20px;
    color: #C1A875;
    font-size: 20px;
}

.disabled>div>textarea {
    font-family: 'Comfortaa-Medium';
    pointer-events: none;
    appearance: none;
    outline: none;
    border: 2px solid #9559d4;
    border-radius: 15px;
    padding: .4em;
}

.aboutMe {
    height: auto;
    display: flex;
    justify-content: center;
}

.aboutMe>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
}

.aboutMe>div>textarea {
    width: 600px;
    height: 300px;
    border: solid red 2px;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
}

.redButton>button {
    color: #243F5D;
    font-size: 25px;
}

.testButton:active {
    font-size: 24px;
    width: 180px;
    height: 60px;
    border-radius: 14px;
    background: #8B969F;
    box-shadow: inset 10px 10px 20px #768087,
        inset -10px -10px 20px #a0adb7;
}

.emailPassword {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.second {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.second>div>div>p {
    margin-left: 20px;
    color: #243F5D;
    font-size: 20px;
}

.second>div {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 70px;

}

.error {
    text-align: center;
    color: red;
    font-size: 17px;
}