.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.showsettings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.noneshowsettings {
    display: none;
}