.container {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    gap: 100px;
}

.navmenu {
    width: 25%;
    height: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px;

    gap: 10px;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.navmenu>div {
    width: 100%;
}

.ava {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;

}

.navpanel {
    height: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 50px;
}

.main>button {
    font-size: 18px;
    color: #243F5D;
    text-align: left;
}

.photo {
    border-radius: 20px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.username {
    font-size: 30px;
    color: #243F5D;
}

.courses>button {
    width: auto;
    font-size: 18px;
    color: #243F5D;
    text-align: left;

}

.courses>button:hover {
    font-size: 18px;
    color: #243F5D;
    text-align: left;
}

.main>button:hover {
    font-size: 18px;
    color: #243F5D;
    text-align: left;
}

.navpanel>label {
    color: black;
    font-size: 30px;
    align-items: center;
}

.courses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-left: 50px;
}

.exitButton {
    margin-top: 50px;
    font-size: 30px;
    border: #243F5D solid 2px;
    border-radius: 10px;
    padding: 5px;
    color: red;
}

.exitButton:hover {
    margin-top: 50px;
    font-size: 30px;
    background-color: red;
    border: #243F5D solid 2px;
    color: white;
}

.info {
    width: 85%;
    height: 100%;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    height: 900px;
    padding: 10px;
    gap: 70px;
    justify-content: center;
}



.learnStat {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.statValues {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-bottom: #243F5D 2px solid;
}

.statValues>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statValues>div>h1 {
    color: white;
    font-size: 80px;
}

.statValues>div>p {
    color: #243F5D;
    font-size: 24px;
    text-align: center;
}

.learnStat>p {
    text-align: center;
    color: #243F5D;
    font-size: 30px;
}

.activeCourse>p {
    text-align: center;
    color: #243F5D;
    font-size: 30px;
}

.recomendCourses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.recomendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 20px;
}

.recomendation>button {
    font-size: 40px;
    padding: 10px;
    border: #243F5D solid 1px;
    color: white;
    border-radius: 20px;
}

.recomendation>p {
    color: #243F5D;
    font-size: 20px;
    text-align: center;
}

.recText {
    color: white;
    font-size: 20px;
    text-align: center;
    border-bottom: #243F5D solid 2px;
}

.recomendCourses>p {
    text-align: center;
    color: #243F5D;
    font-size: 30px;
}

.activeCourse {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}

.courseInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.courseName {
    color: #243F5D;
    font-size: 40px;
}

.courseDescription {
    color: white;
    font-size: 26px;
    margin-left: 40px;
    margin-top: 20px;
}

.mainCourse {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 140px;
    align-items: center;
    border-bottom: #243F5D solid 2px;
    gap: 300px;
}

.continueButton {
    margin-left: 300px;

}

.continuecourse:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}