@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

.exitbutton {
    position: absolute;
    scale: 0.4;
    left: 400px;
    top: 10px;
    cursor: pointer;
}

.conthide {
    opacity: 0.8;
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    z-index: 1;
}

.passwordfild>input:invalid {
    border: solid reb 2px;
}

.container {
    z-index: 3;
    background-image: url(../Images/headerback.svg);
    width: 460px;
    height: 700px;
    border-radius: 11px 11px 11px 11px;
    left: 0;
    right: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}


.container>p {
    padding-top: 10%;
    font-family: 'Montserrat-Medium';
    font-size: 34px;
    text-align: center;
    color: #ff8c37;
}

.mailfild {
    display: flex;
    flex-direction: column;
}

.passwordfild>label {
    font-size: 18px;
    margin-left: 10px;
}

.mailfild>label {
    font-size: 18px;
    margin-left: 10px;
}

.loginbutt {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    background-color: #ff8c37;
    font-size: 24px;
    border-radius: 5px;
    padding: 6px;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}


.loginbutt>button:active {
    background: #6f31c1;
}

.passwordfild {
    display: flex;
    flex-direction: column;
}

.mailfild>input {
    width: 400px;
    height: 30px;
    padding: 5px;

}



.zagolovok {
    margin-top: 50px;
    text-align: center;

}

.zagolovok>h1 {
    font-family: Montserrat-Regular;
}

.passwordfild>input {
    width: 400px;
    height: 30px;
    padding: 5px;

}

.inputfields {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

span {
    margin-left: 10px;
    color: white;
}



.none {
    display: none;
}

.description {
    padding-top: 30px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.description>span {

    font-size: 12px;
}

.reg {
    padding-top: 25px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.reg>span {

    font-size: 12px;
}

.error {
    border: solid red 2px;
}

.regssilka {
    color: white;
    text-decoration: underline;
}

.passwordError {
    color: red;
    font-family: Montserrat-Medium;
    text-align: center;
}

.emailError {
    color: red;
    font-family: Montserrat-Medium;
    text-align: center;

}

.nn {
    border: none;
}