.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.settings {
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.publish {
    display: flex;
    flex-direction: column;
}

.checkList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkList>div {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkList>div>p {
    font-size: 25px;
}

.zagolovok {
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #243F5D;
}

.publicButton {
    align-self: center;
}

.publicButton>button {
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    border: solid #243F5D 2px;
    font-size: 30px;
}

.publicButton>button:hover {
    background-color: #243F5D;
    color: white;
}