.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.zagolovok {
    margin-top: 50px;
    color: #243F5D;
    font-size: 40px;
}

.diagram {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.diagram>p {
    font-size: 25px;
    color: #243F5D;
}

.diagbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.diagbar>button {
    border: #243F5D solid 1px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
    color: #243F5D;
}

.diagbar>button:hover {
    background-color: #243F5D;
    transition: .2s;
    color: white;
}

.minMax {
    border: solid black 1px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

.modules {
    display: flex;
    flex-direction: column;
}

.modules>div>p {
    color: #C1A875;
    font-size: 26px;
    text-align: center;
}

.lessons {
    display: flex;
    flex-direction: column;
}

.lessons>div>p {
    color: #C1A875;
    font-size: 26px;
    text-align: center;
}

.selected {
    background-color: #243F5D;
    color: white !important;
}

.statWarning {
    color: #C1A875;
    font-size: 30px;
    text-align: center;
}

.price {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.logininput {
    height: 26px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 350px;
    transition: .2s;
    color: black;
    font-size: 25px;
}

.logininput:active,
.logininput:focus,
.logininput:hover {
    outline: none;
    border-bottom-color: #243F5D;
}

.currentPrice {
    display: flex;
    flex-direction: column;
    width: 85%;
    gap: 30px;
}

.currentPrice>div {
    width: 70%;
}

.currentPrice>div>p {
    color: #243F5D;
    font-size: 25px;
    margin-left: 20px;
}

.sale {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.sale>p {
    font-size: 20px;
    color: #243F5D;
}

.saveButton {
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px;
    border: solid #243F5D 2px;
    font-size: 30px;
}

.saveButton:hover {
    background-color: #243F5D;
    color: white;
}