@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #C3BAAF;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}


.test {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 1000px;
    border-radius: 50px;


}

.questionBlock>p {
    font-family: 'Montserrat-Medium';
    padding: 40px;
    font-size: 40px;
    color: #0576C2;
    text-align: center;
    background: #BE1D1D;
    background: linear-gradient(to left, #BE1D1D 0%, #2E84C2 75%, #47189D 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.questionBlock>img {
    margin-top: 100px;
    width: 350px;
    height: 350px;
}

.nextButton {
    font-size: 30px;
    width: 180px;
    height: 100px;
}

.buttonBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nextButton:active {
    font-size: 28px;
    width: 180px;
    height: 100px;
    border-radius: 14px;
    background: #8B969F;
    box-shadow: inset 10px 10px 20px #768087,
        inset -10px -10px 20px #a0adb7;
}

.questionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 750px;
}


.answer {
    font-family: 'Montserrat-Medium';
    text-align: center;
    font-size: 22px;
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.firstQeustion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstQeustion>button {
    font-family: 'Montserrat-Medium';
    font-size: 26px;
    border: solid black 2px;
    width: 400px;
    border-radius: 10px;
}

.firstQeustionAnswers {
    border-radius: 20px;
    background: #467cd2;
    box-shadow: inset -20px -20px 60px #3c69b3,
        inset 20px 20px 60px #518ff2;
    width: 400px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.firstQeustionAnswers>button {
    font-family: 'Montserrat-Medium';
    font-size: 26px;
}

.secondQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondQuestion>textarea {
    max-width: 600px;
    max-height: 400px;
    min-width: 600px;
    min-height: 400px;
    border-radius: 30px;
    padding: 20px;
    font-size: 26px;
}