.container {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: #D6DCDB;
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.03), rgba(0, 0, 0, 0.3));
    display: flex;
    flex-direction: column;
}

.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.33);
}

.content {
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.profileBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    height: 1000px;

}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.trainersCatalog {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 2px;
}

.courseBlock {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.trainerCatalog {
    height: 200px;
    padding: 20px;
    flex-grow: 2;
    width: 100px;
}

.trainersCatalog>div {
    width: 1200px;
}

.createTrainer {
    padding: 20px;
    flex-grow: 1;
    width: 50px;
    height: 200px;
}

.trainerCatalog>p {
    margin-top: -80px;
    width: 300px;
    font-size: 40px;
}

.createTrainer>p {
    margin-top: -80px;
    width: 300px;
    font-size: 40px;
    width: auto;
}

.createTrainer:hover,
.trainerCatalog:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.33);
}

.allTrainers {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.fio>p {
    color: #243F5D;
    font-size: 40px;
}

.mainUserInfo {
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;
}

.mainUserInfo>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    color: #243F5D;
}

.myTrainers {
    border: #243F5D solid 2px;
    padding: 5px;
    font-size: 30px;
    border-radius: 10px;
}

.myTrainers:hover {
    background-color: #243F5D;
    color: white;
}

.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 155px;
    gap: 20px;
}

.progress>p {
    color: #243F5D;
    font-size: 40px;
}


.progressBar {
    width: 100%;
    height: 10px;
    overflow: hidden;
    border: solid black 1px;
    border-radius: 6px;
}

.progressbarfill {
    height: 100%;
    background-color: #243F5D;
    /* Цвет заполнения прогресс-бара */
    border-radius: 7px;
    /* Скругление углов */
}

.values {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userStatus {
    text-align: center;
    font-size: 24px;
    color: #243F5D;
}

.values>div {
    font-size: 20px;
    color: #243F5D;
}

.progressInfo {
    width: 100%;
}

.doneTrainers {
    border: solid black 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seeAllStatuses {
    font-size: 18px;
    border-bottom: #243F5D solid 2px;
}

.doneTrainers>p {
    color: #243F5D;
    font-size: 40px;
}